@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* =======================================================
*
*   字高/距離的韻律 
*
* ======================================================= */
/* The main heading*/
.heading-1 {
  margin-bottom: 6rem; }

.field, .paragraph {
  margin-bottom: 2rem; }

.heading-1 {
  font-size: 1.777rem;
  line-height: 3rem; }

.heading-2 {
  font-size: 0.75rem;
  line-height: 1.5rem; }

.paragraph {
  font-size: 1rem;
  line-height: 1.5rem; }

.recipe-value {
  font-size: 1.333rem;
  line-height: 3rem; }

.recipe-text {
  font-size: 0.75rem;
  line-height: 1.5rem; }

/* =======================================================
*
* 	統一樣式 
*
* ======================================================= */
body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  letter-spacing: 2px; }

a {
  text-decoration: none; }

.nav, .container, .contact, footer {
  max-width: 1170px;
  margin: 0 auto; }

header {
  height: 800px;
  background: url("../images/raster.png") repeat rgba(66, 64, 64, 0.9); }

.float_right {
  float: right; }

.center, .center_align {
  text-align: center; }

::-moz-selection {
  background: #FCC72C;
  color: #fff; }

::selection {
  background: #FCC72C;
  color: #fff; }

.box_shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.title {
  position: relative;
  text-align: center;
  color: rgba(40, 39, 39, 0.9);
  line-height: 3rem; }

.title::after {
  position: absolute;
  content: '';
  bottom: 0;
  top: 80px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 2px;
  background: #FCC72C; }

.sub_title {
  color: rgba(143, 140, 140, 0.9);
  margin-top: 3rem; }
  .sub_title a {
    color: #FCC72C; }
    .sub_title a:hover {
      color: #f2b503; }

.button {
  width: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: #FCC72C;
  font-size: 0.75rem;
  line-height: 1.5rem;
  border: none;
  height: 3rem;
  padding: 0 1rem; }

.login_btn, .alert_btn, button {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  height: 3rem;
  outline: 0;
  background: #FCC72C;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  color: #fff;
  border: 0;
  padding: 0 3rem;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s; }

.login_btn, .alert_btn {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px; }
    .row .col[class*="push-"], .row .col[class*="pull-"] {
      position: relative; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.offset-s1 {
      margin-left: 8.33333%; }
    .row .col.pull-s1 {
      right: 8.33333%; }
    .row .col.push-s1 {
      left: 8.33333%; }
    .row .col.offset-s2 {
      margin-left: 16.66667%; }
    .row .col.pull-s2 {
      right: 16.66667%; }
    .row .col.push-s2 {
      left: 16.66667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.pull-s3 {
      right: 25%; }
    .row .col.push-s3 {
      left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.33333%; }
    .row .col.pull-s4 {
      right: 33.33333%; }
    .row .col.push-s4 {
      left: 33.33333%; }
    .row .col.offset-s5 {
      margin-left: 41.66667%; }
    .row .col.pull-s5 {
      right: 41.66667%; }
    .row .col.push-s5 {
      left: 41.66667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.pull-s6 {
      right: 50%; }
    .row .col.push-s6 {
      left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.33333%; }
    .row .col.pull-s7 {
      right: 58.33333%; }
    .row .col.push-s7 {
      left: 58.33333%; }
    .row .col.offset-s8 {
      margin-left: 66.66667%; }
    .row .col.pull-s8 {
      right: 66.66667%; }
    .row .col.push-s8 {
      left: 66.66667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.pull-s9 {
      right: 75%; }
    .row .col.push-s9 {
      left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.33333%; }
    .row .col.pull-s10 {
      right: 83.33333%; }
    .row .col.push-s10 {
      left: 83.33333%; }
    .row .col.offset-s11 {
      margin-left: 91.66667%; }
    .row .col.pull-s11 {
      right: 91.66667%; }
    .row .col.push-s11 {
      left: 91.66667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    .row .col.pull-s12 {
      right: 100%; }
    .row .col.push-s12 {
      left: 100%; }
    @media only screen and (min-width: 601px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.pull-m1 {
        right: 8.33333%; }
      .row .col.push-m1 {
        left: 8.33333%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.pull-m2 {
        right: 16.66667%; }
      .row .col.push-m2 {
        left: 16.66667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.pull-m3 {
        right: 25%; }
      .row .col.push-m3 {
        left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.pull-m4 {
        right: 33.33333%; }
      .row .col.push-m4 {
        left: 33.33333%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.pull-m5 {
        right: 41.66667%; }
      .row .col.push-m5 {
        left: 41.66667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.pull-m6 {
        right: 50%; }
      .row .col.push-m6 {
        left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.pull-m7 {
        right: 58.33333%; }
      .row .col.push-m7 {
        left: 58.33333%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.pull-m8 {
        right: 66.66667%; }
      .row .col.push-m8 {
        left: 66.66667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.pull-m9 {
        right: 75%; }
      .row .col.push-m9 {
        left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.pull-m10 {
        right: 83.33333%; }
      .row .col.push-m10 {
        left: 83.33333%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.pull-m11 {
        right: 91.66667%; }
      .row .col.push-m11 {
        left: 91.66667%; }
      .row .col.offset-m12 {
        margin-left: 100%; }
      .row .col.pull-m12 {
        right: 100%; }
      .row .col.push-m12 {
        left: 100%; } }
    @media only screen and (min-width: 993px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.pull-l1 {
        right: 8.33333%; }
      .row .col.push-l1 {
        left: 8.33333%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.pull-l2 {
        right: 16.66667%; }
      .row .col.push-l2 {
        left: 16.66667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.pull-l3 {
        right: 25%; }
      .row .col.push-l3 {
        left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.pull-l4 {
        right: 33.33333%; }
      .row .col.push-l4 {
        left: 33.33333%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.pull-l5 {
        right: 41.66667%; }
      .row .col.push-l5 {
        left: 41.66667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.pull-l6 {
        right: 50%; }
      .row .col.push-l6 {
        left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.pull-l7 {
        right: 58.33333%; }
      .row .col.push-l7 {
        left: 58.33333%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.pull-l8 {
        right: 66.66667%; }
      .row .col.push-l8 {
        left: 66.66667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.pull-l9 {
        right: 75%; }
      .row .col.push-l9 {
        left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.pull-l10 {
        right: 83.33333%; }
      .row .col.push-l10 {
        left: 83.33333%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.pull-l11 {
        right: 91.66667%; }
      .row .col.push-l11 {
        left: 91.66667%; }
      .row .col.offset-l12 {
        margin-left: 100%; }
      .row .col.pull-l12 {
        right: 100%; }
      .row .col.push-l12 {
        left: 100%; } }

.logo {
  font-size: 1.333rem;
  color: #FCC72C;
  background: url("../images/logo.png") no-repeat left center;
  padding-left: 60px;
  line-height: 44px;
  display: inline-block; }
  .logo .logo_title {
    font: 0/0 a; }

.nav {
  height: 44px;
  padding-top: 30px; }

.nav_wrapper {
  margin: 0;
  display: inline-block; }
  .nav_wrapper li {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 44px;
    display: inline-block;
    padding-left: 35px; }
  .nav_wrapper li.nav_li a {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    transition-property: all;
    transition-duration: 0.3s; }
    .nav_wrapper li.nav_li a:hover {
      color: white; }
  .nav_wrapper li.active a {
    color: white; }

/*header login navbar*/
.user_header {
  position: relative;
  display: inline-block;
  height: 50px; }
  .user_header:hover .user_header_dropdown {
    box-shadow: black 2px 2px 10px;
    visibility: visible; }
  .user_header:hover .user_header_login {
    background-color: white; }

.user_header_login {
  font-size: 0.75rem;
  line-height: 1.5rem;
  display: inline-block;
  padding: 0 0.6rem;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  transition-property: all;
  transition-duration: 0.3s; }
  .user_header_login a {
    color: rgba(66, 64, 64, 0.9);
    display: block;
    text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0; }
    .user_header_login a .fa-user {
      padding-right: 5px; }
    .user_header_login a .fa-chevron-down {
      padding-left: 5px; }
  .user_header_login:hover {
    background-color: white; }

.user_header_dropdown {
  cursor: pointer;
  visibility: hidden;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #FCC72C;
  position: absolute;
  z-index: 1;
  min-width: 120px;
  top: 46px;
  right: 0; }

.user_header_dropdown ::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 30px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent; }

.user_header_dropdown li {
  font-size: 0.75rem;
  line-height: 1.5rem;
  display: block;
  white-space: nowrap;
  background-color: white;
  padding: 0.5rem 0.5rem; }
  .user_header_dropdown li:hover a {
    color: #FCC72C; }

.user_header_dropdown li + li {
  border: solid 1px #ddd; }

.user_header_dropdown li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.user_header_dropdown li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.form {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  text-align: left; }
  .form label {
    line-height: 3rem; }
  .form .required {
    color: #c7254e;
    padding: 0 6px; }

.form input[type=text], .form input[type=password], textarea {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  letter-spacing: 2px;
  outline: solid 2px #fff;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 15px 15px 30px;
  box-sizing: border-box;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.3s; }

.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus {
  outline: solid 2px #FCC72C; }

.form button:hover, .form button:active, .form button:focus {
  background: #f2b503; }

.blackbg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999; }

.loading {
  display: none;
  margin-top: 20%;
  color: #FCC72C;
  text-align: center; }

.alert_btn:hover, .alert_btn:active, .alert_btn:focus {
  background: #f2b503; }

.alert_btn {
  margin-top: 15px; }

/* =======================================================
*
* 	進網頁的LOGO效果 
*
* ======================================================= */
.logoSvg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #545252;
  z-index: 2000;
  text-align: center;
  padding-top: 150px;
  animation: fadeOut 1s linear 1s forwards; }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* =======================================================
*
*   登入頁 
*
* ======================================================= */
.log_bg {
  background-color: rgba(66, 64, 64, 0.9); }

.login_page {
  width: 360px;
  padding: 4rem 3rem;
  margin: 10% auto 0 auto; }

.login_remeber {
  font-size: 0.8rem;
  color: rgba(66, 64, 64, 0.9); }

.login_filed {
  position: relative; }

.login_filed .prepic {
  color: rgba(66, 64, 64, 0.9);
  position: absolute;
  top: 18px;
  left: 10px; }

.login_filed .errmsg {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #c7254e;
  border-radius: 4px; }
  .login_filed .errmsg * {
    display: inline-block; }

.welcome_login {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px; }

.contact_filed {
  position: relative; }
  .contact_filed .errmsg {
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #c7254e;
    border-radius: 4px; }
    .contact_filed .errmsg * {
      display: inline-block; }

.form .register-form {
  display: none; }

.dialog {
  display: none;
  width: 200px;
  text-align: center;
  line-height: 24px;
  padding: 100px;
  background-color: #fff;
  margin: 10% auto 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

/*index contact*/
.contact {
  margin-top: 4.5rem; }
